<div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Couleur</th>
      <th scope="col">Immatriculation</th>
      <th scope="col">Date d'achat</th>
      <th scope="col">Etat</th>
      <th scope="col">Opérations</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let car of cars | async">
      <td>{{ car.marque }}</td>
      <td>{{ car.couleur }}</td>
      <td>{{ car.immatricution }}</td>
      <td>{{ car.dateAchat }}</td>
      <td>{{ car.etat }}</td>
      <td>
        <button (click)="updateCar(car)" class="btn btn-primary" style="margin: 5px">Mettre à jour</button>
        <button (click)="removeCar(car.id)" class="btn btn-danger" style="margin: 5px">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="isUpdateActivated" style="margin-top: 50px; margin-left: 50px;">
    <app-car-add (updateDone)="updateCarDone($event)" [car]="updateCarObject"></app-car-add>
  </div>

</div>
