<div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Couleur</th>
      <th scope="col">Immatriculation</th>
      <th scope="col">Date d'achat</th>
      <th scope="col">Etat</th>
      <th scope="col">Opérations</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let car of cars | async">
      <td>{{ car.marque }}</td>
      <td>{{ car.couleur }}</td>
      <td>{{ car.immatricution }}</td>
      <td>{{ car.dateAchat }}</td>
      <td>{{ car.etat }}</td>
      <td>
        <button (click)="updateCar(car)" class="btn btn-primary" style="margin: 5px">Mettre à jour</button>
        <button (click)="removeCar(car.id)" class="btn btn-danger" style="margin: 5px">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="isUpdateActivated" style="margin-top: 50px; margin-left: 50px;">
    <h4>Modification d'une voiture</h4>
    <div class="panel-body"  style="margin-top: 50px;">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Marque de la voiture</label>
          <input type="text" class="form-control" formControlName="marque" #marque />
        </div>
        <div *ngIf="angForm.controls['marque'].invalid && (angForm.controls['marque'].dirty || angForm.controls['marque'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['marque'].errors.required">
            La marque est requise
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Immatriculation de la voiture</label>
          <input type="text" class="form-control" formControlName="immatriculation" #immatriculation/>
        </div>
        <div *ngIf="angForm.controls['immatriculation'].invalid && (angForm.controls['immatriculation'].dirty || angForm.controls['immatriculation'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['immatriculation'].errors.required">
            L'immatriculation est requise
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Couleur de la voiture</label>
          <input type="text" class="form-control" formControlName="couleur" #couleur/>
        </div>
        <div *ngIf="angForm.controls['couleur'].invalid && (angForm.controls['couleur'].dirty || angForm.controls['couleur'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['couleur'].errors.required">
            La couleur est requise
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Date d'achat du véhicule</label>
          <input type="date" class="form-control" formControlName="dateAchat" #dateAchat/>
        </div>
        <div *ngIf="angForm.controls['dateAchat'].invalid && (angForm.controls['dateAchat'].dirty || angForm.controls['dateAchat'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['dateAchat'].errors.required">
            La date d'achat est requise
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">l'état du véhicule</label>
          <input type="text" class="form-control" formControlName="etat" #etat/>
        </div>
        <div *ngIf="angForm.controls['etat'].invalid && (angForm.controls['etat'].dirty || angForm.controls['etat'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['etat'].errors.required">
            L'état est requis
          </div>
        </div>
        <div class="form-group">
          <button (click)="updateCarDone(immatriculation.value, marque.value, dateAchat.value, couleur.value, etat.value, updateCarObject.id)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Modifier la voiture</button>
        </div>
      </form>
    </div>
  </div>

</div>
